:host {
  display: block;
  margin: 20px;
}

.add-button {
  margin-left: 10px;
}

.todo-item {
  display: block;
  list-style-type: none;
}

.todo-item-done {
  text-decoration: line-through;
  color: green;
}
